* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  padding: 20px;
}
li {
  list-style: none;
}
